@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;900&display=swap");

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--black-second) !important;
    background-image: none !important;
    color: var(--font-second) !important;
    font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3 {
    color: var(--font-main) !important;
    width: unset !important;
    left: unset !important;
    margin-left: unset !important;
    position: unset !important;
}

input[type="submit"],
button {
    background-color: var(--yellow-main);
    color: black;
    border: 2px solid var(--black-main);
    border-radius: 5px;
    padding: 3px 7px;
}

input[type="checkbox"]:checked:before {
    border-color: var(--yellow-main);
    background-color: var(--yellow-main);
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--yellow-second);
}

body {
    display: flex;
}
iframe:first-of-type {
    display: none !important;
}

#accueil {
    margin-left: 0 !important;
    margin-top: 25px !important;
    position: unset !important;
    border-left: none !important;
    padding: 50px;
}
a {
    color: var(--yellow-main);
}
a:hover {
    color: var(--yellow-second);
}

html,
body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
header {
    width: 18%;
    background-color: var(--black-second);
    border-right: 2px solid var(--black-main);
    padding: 0 15px;
}
header * {
    width: 100%;
}
header img {
    width: auto;
    height: 90px;
}
header h2 {
    text-decoration: none !important;
}
hr {
    border-style: none;
    border-width: none;
    margin-block-start: none;
    margin-block-end: none;
    height: 2px;
    background-color: var(--yellow-main);
}
#card {
    display: flex;
}
#card > div {
    text-align: center;
}
nav .nav-container {
    margin-left: 5px;
}
nav .nav-container a {
    display: block;
    text-decoration: none;
    color: var(--font-second);
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}
nav .nav-container a:hover {
    background-color: var(--yellow-second) !important;
    color: var(--black-main) !important;
}

form {
    margin-left: 0 !important;
    margin-top: 25px !important;
    position: unset !important;
    border-left: none !important;
}

textarea {
    min-height: 150px;
    resize: vertical;
    background-color: transparent;
    padding: 5px !important;
    color: var(--font-second) !important;
    margin-bottom: 15px !important;
}
label {
    color: var(--font-second) !important;
}

a:hover img {
    border-color: var(--yellow-main) !important;
}

form .contact_rouge,
form .contact_bleu,
form .contact_jaune,
form .contact_vert,
form .contact_gris {
    background: none;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid var(--black-main) !important;
    box-shadow: none !important;
    color: var(--font-second) !important;
    border-radius: 15px;
}
form .contact_rouge {
    border-color: red !important;
}
form .contact_bleu {
    border-color: blue !important;
}
form .contact_jaune {
    border-color: yellow !important;
}
form .contact_vert {
    border-color: green !important;
}
form .contact_gris {
    border-color: grey !important;
}

table.calendrier {
    margin: 10px 0;
}
table.calendrier.left td[class=""] {
    color: "black";
    background-color: #ddd;
}
table.calendrier tr:not([class]) {
    color: var(--font-second);
}

table.calendrier tr th {
    border: unset !important;
    margin-bottom: unset !important;
    background-image: unset !important;
}

.calendrier tbody .entr label,
.calendrier tbody .utc label,
.calendrier tbody .abs label,
.calendrier tbody .etg label,
.calendrier tbody .today label,
.calendrier tbody .dim label {
    /* color:black!important; */
}
.calendrier tbody,
.calendrier tbody label,
.calendrier tbody span {
    color: black !important;
}

div.pop-visible {
    background-color: var(--black-main) !important;
    color: var(--font-second) !important;
    border: 2px solid var(--font-main) !important;
}

/*
sidemenu pages : Missions et Evaluation en entreprise
*/

ul.sidemenu {
    position: absolute !important;
    margin: 0 !important;
    left: 0 !important;
    float: none !important;
    list-style-type: none !important;
    transform: none !important;
    -webkit-transform: none !important;
    margin-left: calc(18% + 10px + 30px) !important;
    margin-top: 8px !important;
}

ul.sidemenu > * {
    border: 1px solid var(--yellow-main) !important;
    background-color: transparent !important;
    padding: 10px 0 !important;
}

ul.sidemenu li.entr {
    background-color: var(--yellow-main) !important;
    padding: 10px !important;
}

ul.sidemenu li.entr a {
    color: var(--black-main) !important;
}
ul.sidemenu > *:hover {
    background-color: var(--yellow-second) !important;
}
ul.sidemenu > li a {
    color: var(--yellow-main) !important;
    padding: 10px !important;
}
ul.sidemenu > li a:hover {
    color: var(--black-main) !important;
}

/*

*/

.div-contact {
    position: absolute !important;
    top: 5px;
    left: calc(18% + 40px) !important;
    width: 300px !important;
    background-color: var(--black-main) !important;
    display: none;
    z-index: 100;
    padding: 10px;
}

.float-top-left {
    position: absolute !important;
    top: 5px;
    left: calc(18% + 40px) !important;
    padding: 10px;
}

.get-infos {
    position: absolute;
    top: 5px;
    left: calc(18% + 40px);
    background-color: red;
    color: white;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    padding: 3px;
    cursor: pointer;
}

div.groupe span.legende {
    color: var(--font-second) !important;
}

.no-underline,
.fermer,
.fermer:-webkit-any-link {
    font-size: 3em;
    text-decoration: none !important;
    color: var(--yellow-main);
}
.no-underline .fermer:hover {
    color: var(--yellow-second) !important;
}

div.titre-evaluation {
    color: white !important;
    border: none !important;
    background-color: #121212 !important;
    font-weight: bold !important;
}

/* Image flèche pour déployer */
div.titre-evaluation > a > img {
    mix-blend-mode: difference !important;
    border: none !important;
    margin: 4px !important;
    background-color: var(--yellow-main) !important;
    border-radius: 100% !important;
}

input,
textarea,
select {
    background-color: var(--black-main) !important;
    color: var(--font-second) !important;
    border: 1px solid var(--black-main) !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--yellow-main) !important;
}

input[type="submit"],
input[type="button"],
button {
    background-color: var(--yellow-main) !important;
    color: black !important;
    border: 2px solid var(--black-main) !important;
    border-radius: 5px !important;
    padding: 3px 7px !important;
    cursor: pointer !important;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: var(--yellow-second) !important;
}

table {
    background-color: transparent !important;
}

/* Day Night toggle button */
#change-mode {
    position: fixed;
    bottom: 10px;
    right: 30px;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 25px;
    width: 50px;
    border: 5px solid var(--font-main);
    border-radius: 10em;
    background-color: white;
    /*box-shadow: 0px 10px 25px #e4e7ec;*/
    transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(25px, 0);
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.25em #ffbb52;
    transition: background-color 250ms, border-color 250ms,
        transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.25em white;
    transform: translate(0, 0);
}

.sun-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    /*height: 6em;
    width: 6em;*/
    opacity: 1;
    transform: translate(5px, 0px) rotate(15deg);
    /*transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
    */
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
    /* position: absolute; */
    height: 20px;
    width: 20px;
    color: white;
}

.moon-icon-wrapper {
    /* position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0; */
    transform: translate(28px, 2px) rotate(0deg);
    /* transform-origin: 50% 50%;transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);*/
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
}

/* 
    Menus cliquables qui se déroulent
    Pages : Compétences, Evaluation en entreprise, Rapports
*/

.titre_evaluation {
    color: black !important;
    border: none !important;
    background-color: var(--yellow-main) !important;
}

.titre_evaluation > a > img {
    border: none !important;
}

.titre_evaluation > a:hover > img {
    margin: 2px;
}

/* Page "Evaluation en entreprise" */

#form_annees {
    margin-top: 0 !important;
}
#form_annees .sidemenu {
    /* margin: 0 !important; */
    /* margin-left: 30px !important; */
}

/**
Global
*/

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*
Carnet de bord
*/

.pop_visible {
    background-color: var(--black-second) !important;
    color: var(--font-second) !important;
    border: 1px solid var(--yellow-main) !important;

    /* center the popup window */
    position: absolute !important;
    top: 10% !important;
    left: 50% !important;
    transform: translate(-50%, -10%) !important;
}
